body {
  background-image: url(../images/interlaced.png);
  background-size: 100%;
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 5%;
  padding: 10%;
  background-color: purple;
}

.display-4 {
  padding: 20px;
  font-weight: bold;
  color: aqua;
}

h4 {
  color: red;
  text-align: center;
}
